* {
    font-family: Inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #f6f7f8;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 328px;
    height: 100vh;
}

h1 {
    font-size: 61px;
    line-height: 73.2px;
    text-align: left;
    margin-bottom: 48px;
    margin-top: 110px;
}

#content-box-left {
    width: 440px;
    gap: 24px;
}

#content-box-right {
    width: 440px;
    gap: 24px;
}

#content-box-container {
    width: 976.25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
}

.subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #2a3647;
}

#title-container {
    gap: 8px;
}

#title-input {
    width: 440px;
    padding: 12px 21px 12px 21px;
    gap: 10px;
    display: flex;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

#description-container {
    gap: 8px;
}

#textarea-input {
    height: 120px;
    padding: 18px 16px 18px 16px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    resize: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

#assigned-container {
    gap: 8px;
    position: relative;
    z-index: 1;
}

.select-container {
    min-height: 48px;
    padding: 12px 16px 12px 16px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#border-container {
    width: 0px;
    border: 1px solid #d1d1d1;
    margin-left: 48.25px;
    margin-right: 48.25px;
}

#date-container {
    gap: 8px;
}

#date-input {
    width: 440px;
    padding: 12px 16px 12px 16px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
}

/* Prio-Container */

#prio-container {
    gap: 8px;
}

.prio-default-text-color {
    color: black;
}

#prio-high {
    width: 65px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    gap: 8px;
}

#prio-medium {
    width: 84px;
    height: 24px;
    font-size: 21px;
    line-height: 25.2px;
    text-align: left;
    gap: 8px;
}

#prio-low {
    width: 40px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    gap: 8px;
}

#choose-prio-container {
    height: 56px;
    gap: 16px;
    display: flex;
}

.choose-prio-button {
    width: 136px;
    height: 56px;
    padding: 16px 10px 16px 10px;
    gap: 8px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 24px 0px #0000001a;
    border: #f6f7f8;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
}

.prio-low-button-bg-color {
    background-color: #7ae229;
    color: white;
    font-weight: 700;
}

.prio-high-button-bg-color {
    background-color: #ff3d00;
    color: white;
    font-weight: 700;
}

.prio-medium-button-bg-color {
    background-color: #ffa801;
    color: white;
    font-weight: 700;
}

.prio-high-arrows {
    color: #ff3d00;
}

.prio-medium-arrows {
    color: #ffa801;
}

.prio-low-arrows {
    color: #7ae229;
}

.prio-high-button-bg-color .prio-high-arrows {
    color: white;
}

.prio-medium-button-bg-color .prio-medium-arrows {
    color: white;
}

.prio-low-button-bg-color .prio-low-arrows {
    color: white;
}

/* Subtask-Container */

#new-subtask-contaier {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px 12px 16px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    background-color: white;
}

#new-subtask-input {
    border: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

#addicon-container {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#subtask-list {
    margin-left: 48.25px;
}

.subtask-item {
    margin-top: 16px;
}

/* Clear and AddTask Buttons */

#interactives-buttons-and-required-container {
    width: 976.25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#required-container {
    height: 27px;
    width: 170px;
}

#required-span {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}

#interactives-buttons-container {
    gap: 16px;
    width: 309px;
    height: 56px;
    display: flex;
}

#clear-button {
    width: 110px;
    height: 56px;
    padding: 16px;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid #2a3647;
    display: flex;
    cursor: pointer;
}

#clear-button-font {
    width: 50px;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #2a3647;
}

#create-button {
    width: 183px;
    height: 56px;
    padding: 16px;
    gap: 4px;
    border-radius: 10px;
    background: #2a3647;
    display: flex;
    transition: ease-in-out 100ms;
    cursor: pointer;
}

#create-task-button-font {
    width: 123px;
    height: 24px;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    color: #ffffff;
}

#cancel-icon {
    width: 10.49px;
    height: 10.49px;
}

#check-icon {
    width: 15.49px;
    height: 11.22px;
}

.asterisk {
    color: #ff8190;
}

/* Dropdown Contacts*/

#dropdown-list {
    max-height: 216px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 100%;
    background-color: white;
}

.dropdown-item {
    padding: 12px 16px 12px 16px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

#dropdown-arrow {
    width: 7.21px;
    height: 4.6px;
}

#contacts-dropwdown-arrow-container {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contacts-dropwdown-arrow-container:hover {
    background: lightgray;
    border-radius: 100%;
}

#dropdown-list div:not(.contactListBackground):hover {
    background: lightgray;
    border-radius: 10px;
}

.dropdown-list-hover {
    background: lightgray;
    border-radius: 100%;
}

.uncheckedBox {
    height: 20px;
    width: 20px;
}

.circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    margin-right: 8px;
}

/* Category-Container */

#category-container {
    position: relative;
    gap: 8px;
}

#category-dropdown-arrow-container {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#category-dropdown-arrow-container:hover {
    background: lightgray;
    border-radius: 100%;
}

#category-dropdown-list {
    position: absolute;
    z-index: 1;
    width: 440px;
    top: 100%;
    border-radius: 10px;
    background-color: white;
}

#category-dropdown-list div:hover {
    background: lightgray;
    border-radius: 10px;
}

/* classes */

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents {
    display: contents;
}

/* Scrolbar */

::placeholder {
    color: #d1d1d1;
}

input[type="date"]:invalid::-webkit-datetime-edit {
    color: #d1d1d1;
}

.d-none {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border-radius: 8px;
}
