.boardContent {
    margin-left: 324px;
    margin-top: 80px;
}

.boardFindTaskAddTaskDiv {
    width: 1056px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: 700;
    font-size: 61px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.FindInputAndAddButton {
    display: flex;
    gap: 32px;
}

.inputDiv {
    position: relative;
}

.inputFindTask {
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    width: 422px;
    height: 50px;
    padding: 0px 21px 0px 21px;
    font-size: 20px;
}

.inputSeperatorDiv {
    height: 31px;
    width: 1px;
    background-color: #d1d1d1;
    position: absolute;
    left: 415px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.searchIcon {
    height: 32px;
    width: 32px;
    position: absolute;
    left: 423px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.addTaskButton {
    background-color: #2a3647;
    border-radius: 10px;
    border: none;
    padding: 16px;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
    font-weight: 700;
    font-size: 21px;
    color: white;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
}

.AddTaskSpan {
    font-size: 21px;
}

.addTaskPlusIcon {
    height: 18px;
    width: 18px;
    padding-left: 4px;
}

.kanbanBoard {
    display: flex;
    gap: 26px;
    padding-top: 50px;
}

.kanbanSplit {
    width: 252px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kanbanHeadlineDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 244px;
    padding-bottom: 15px;
}

.kanbanCategorieSpan {
    font-weight: 700;
    color: #42526e;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 20px;
}

.kanbanPlusButton {
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.kanbanPlusButton:hover {
    content: url('./assets/icons/plusButtonBlue.png');
}

.taskArea {
    width: 252px;
    min-height: 800px;
}

.boardTask {
    min-width: 220px;
    max-width: 220px;
    padding: 16px;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    margin-bottom: 16px;
    transition: transform 0.3s ease;
}

.boardTask:hover {
    transform: rotate(4deg);
  }

.categoryBordTask {
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 24px;
}

.categoryUserStory {
    background-color: #0038ff;
}

.categoryTechnicalTask {
    background-color: #1fd7c1;
}

@media (max-width: 1450px) {
    .boardContent {
        margin-left: 300px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .boardFindTaskAddTaskDiv {
        width: 310px;
        display: flex;
        justify-content: space-between;
    }

    h1 {
        font-size: 47px !important;
        padding-right: 50px;
    }

    .inputDiv {
        display: none;
    }

    .AddTaskSpan {
        display: none;
    }

    .addTaskPlusIcon {
        height: 18px;
        width: 18px;
        padding-left: 0px;
    }

    .inputDiv2 {
        position: relative;
        margin-top: 20px;
    }

    .inputFindTask2 {
        border: 1px solid #a8a8a8;
        border-radius: 10px;
        width: 270px;
        height: 40px;
        padding: 0px 21px 0px 21px;
        font-size: 20px;
    }

    .inputSeperatorDiv2 {
        height: 31px;
        width: 1px;
        background-color: #d1d1d1;
        position: absolute;
        left: 270px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }

    .searchIcon2 {
        position: absolute;
        left: 275px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }

    .kanbanBoard {
        flex-direction: column;
        width: 90%;
    }

}

@media (min-width: 1450px) {

    .inputDiv2 {
        display: none;
    }
}

@media (max-width: 1360px) {
    .boardContent {
      margin-left: 50px;
    }
}
